
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <img class="col-12 pt-1" src="https://dummyimage.com/50x50&text=dummy+image+!" alt="Smiley face">
            <img class="col-12 pt-1" src="https://dummyimage.com/50x50&text=dummy+image+!" alt="Smiley face">
            <img class="col-12 pt-1" src="https://dummyimage.com/50x50&text=dummy+image+!" alt="Smiley face">
            <img class="col-12 pt-1" src="https://dummyimage.com/50x50&text=dummy+image+!" alt="Smiley face">
            <img class="col-12 pt-1" src="https://dummyimage.com/50x50&text=dummy+image+!" alt="Smiley face">
            <img class="col-12 pt-1" src="https://dummyimage.com/50x50&text=dummy+image+!" alt="Smiley face">
            <img class="col-12 pt-1" src="https://dummyimage.com/50x50&text=dummy+image+!" alt="Smiley face">
        </div>
        <div class="col-5">
            <img class="col-12" src="https://dummyimage.com/500x500&text=dummy+image+!" alt="Smiley face">
        </div>
        <div class="col-4">
            <h4>
                Car Charger, Anker 24W Dual USB Car Charger Adapter, PowerDrive 2 for iPhone XS/MAX/XR/X/8/7/6/Plus, iPad Pro/Air 2/Mini, Note 5/4, LG, Nexus, HTC, and More
            </h4>
            <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star fa-star-half-full"></span>
                <span class="fa fa-star fa-star-o"></span>
                <span class="pl-1 text-info"> from 1,504 reviews</span>
            </div>
            <div>
                price <span class="text-danger font-weight-bold"><span class="fa fa-usd"></span>79.99</span>
            </div>
            <div>
                The Anker Advantage: Join the 50 million+ powered by America's leading USB charging brand.
                Advanced Charging Technology: PowerIQ and VoltageBoost combine to provide the fastest possible charge up to 4.8 amps or 2.4 amps per port. (Does not support Qualcomm Quick Charge).
                Certified Safe: Anker's MultiProtect safety system ensures complete protection for you and your devices.
                Compact Design: One of the industry's smallest ever USB car chargers, featuring two USB ports and an LED light for after dark.
                What You Get: The Anker PowerDrive 2 (24W 2-port USB car charger), welcome guide, our worry-free 18-month warranty and friendly customer service.
            </div>
        </div>
        <div class="col-2 card p-2">
            <div>
                <span class="text-danger font-weight-bold"><span class="fa fa-usd"></span>79.99</span>
            </div>
            <div>
                This item does not ship to Canada. Please check other sellers who may ship internationally. Learn more
                Due to increased demand, we temporarily have reduced product selection available for delivery to your region. We are working to improve selection availability as soon as possible.
            </div>
            <span class="text-success">In Stock</span>
            <select id="quantity" name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
            <div class="btn-group mt-2">
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-shopping-cart float-left" aria-hidden="true"></i> Add to cart
                </button>
            </div>
            <div class="btn-group mt-2">
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-play float-left" aria-hidden="true"></i> Buy now
                </button>
            </div>

        </div>
    </div>
</div>
