
@{
    ViewBag.Title = "Storage Information";
}

    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Inventory Finance</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Finance related to inventory</h6>
                        <p class="card-text">For more detials click on the button below</p>
                        <button class="btn btn-primary">Finance Details</button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Inventory Age</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Current age...</h6>
                        <p class="card-text">For more detials click on the button below</p>
                        <button class="btn btn-info">Get information</button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Inventory Default</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Default Inventory List</h6>
                        <p class="card-text">For more detials click on the button below</p>
                        <button class="btn btn-dark">Inventory Default</button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Invoices</h5>
                        <h6 class="card-subtitle mb-2 text-muted">List of invoices</h6>
                        <p class="card-text">For more detials click on the button below</p>
                        <button  class="btn btn-success">More information</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



