<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!--Author      :h-->
<style>
    #invoice {
        padding: 30px;
    }

    .invoice {
        position: relative;
        background-color: #FFF;
        min-height: 680px;
        padding: 15px
    }

        .invoice header {
            padding: 10px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #3989c6
        }

        .invoice .company-details {
            text-align: right
        }

            .invoice .company-details .name {
                margin-top: 0;
                margin-bottom: 0
            }

        .invoice .contacts {
            margin-bottom: 20px
        }

        .invoice .invoice-to {
            text-align: left
        }

            .invoice .invoice-to .to {
                margin-top: 0;
                margin-bottom: 0
            }

        .invoice .invoice-details {
            text-align: right
        }

            .invoice .invoice-details .invoice-id {
                margin-top: 0;
                color: #3989c6
            }

        .invoice main {
            padding-bottom: 50px
        }

            .invoice main .thanks {
                margin-top: -100px;
                font-size: 2em;
                margin-bottom: 50px
            }

            .invoice main .notices {
                padding-left: 6px;
                border-left: 6px solid #3989c6
            }

                .invoice main .notices .notice {
                    font-size: 1.2em
                }

        .invoice table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px
        }

            .invoice table td, .invoice table th {
                padding: 15px;
                background: #eee;
                border-bottom: 1px solid #fff
            }

            .invoice table th {
                white-space: nowrap;
                font-weight: 400;
                font-size: 16px
            }

            .invoice table td h3 {
                margin: 0;
                font-weight: 400;
                color: #3989c6;
                font-size: 1.2em
            }

            .invoice table .qty, .invoice table .total, .invoice table .unit {
                text-align: right;
                font-size: 1.2em
            }

            .invoice table .no {
                color: #fff;
                font-size: 1.6em;
                background: #3989c6
            }

            .invoice table .unit {
                background: #ddd
            }

            .invoice table .total {
                background: #3989c6;
                color: #fff
            }

            .invoice table tbody tr:last-child td {
                border: none
            }

            .invoice table tfoot td {
                background: 0 0;
                border-bottom: none;
                white-space: nowrap;
                text-align: right;
                padding: 10px 20px;
                font-size: 1.2em;
                border-top: 1px solid #aaa
            }

            .invoice table tfoot tr:first-child td {
                border-top: none
            }

            .invoice table tfoot tr:last-child td {
                color: #3989c6;
                font-size: 1.4em;
                border-top: 1px solid #3989c6
            }

            .invoice table tfoot tr td:first-child {
                border: none
            }

        .invoice footer {
            width: 100%;
            text-align: center;
            color: #777;
            border-top: 1px solid #aaa;
            padding: 8px 0
        }

    media print {
        invoice

    {
        font-size: 11px !important;
        overflow: hidden !important
    }

    .invoice footer {
        position: absolute;
        bottom: 10px;
        page-break-after: always
    }


    .invoice > div:last-child {
        page-break-before: always
    }
    }
</style>
<div id="invoice">

    <div class="toolbar hidden-print">
        <div class="text-right">
            <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
            <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i>Create InVoice</button>
        </div>
        <hr>
    </div>
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
         
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">

                        <h2 class="to">Care & Repair</h2>
                        <div class="address" style="margin-left:0px;">Commitment to quality</div>
                        <div class="email"><a href="#">www.care-n-repair.com</a></div>
                    </div>
                    <div class="col invoice-details">

                        <div class="date">Date:@DateTime.Now.ToShortDateString()</div>
                        <div class="date">Invoice#:01236</div>

                        <div class="date">Customer ID:  @Session["User"]</div>
                    </div>
                </div>
                <hr />
                <div class="row contacts">
                    <div class="col invoice-to">
                        <u> <h4 class="to">Shipping Information:</h4></u><br />
                        <h5 style="text-align:center" class="to"><input id="Text1" type="text"  class="form-control" placeholder="Customer Name"/></h5>
                        <div style="text-align:center" class="address"><input id="Text1" type="text" class="form-control" placeholder="Phone" /></div>

                    </div>
                    <div class="col invoice-details">
                        <u> <h4 class="to" style="text-align:center">Ship To:</h4></u>
                     
                    </div>
                </div>
                <hr />
                <table>
                    <tr style="color:white">
                        <td style="background-color:dodgerblue">Year</td>
                        <td style="background-color:dodgerblue">Make</td>
                        <td style="background-color:dodgerblue">Model</td>
                        <td style="background-color:dodgerblue">VIN</td>
                        <td style="background-color:dodgerblue">Delivery Date</td>
                        <td style="background-color:dodgerblue">Payment Terms</td>
                    </tr>
                    <tr>
                        <td><input id="Text1" type="text" /></td>
                        <td><input id="Text1" type="text" /></td>
                        <td>M3</td>
                        <td>V897JK098</td>
                        <td>01/01/2020</td>
                        <td>Paid</td>

                    </tr>
                </table>
                <table>
                    <tr style="color:white">
                        <td style="background-color:dodgerblue">No.</td>
                        <td style="background-color:dodgerblue">Qty</td>
                        <td style="background-color:dodgerblue">Description</td>
                        <td style="background-color:dodgerblue">Unit Price</td>
                        <td style="background-color:dodgerblue">Total</td>
                        <td style="background-color:dodgerblue">Part Number(mfg)</td>
                        <td style="background-color:dodgerblue">Alt. Part Number</td>

                    </tr>
                    <tr>
                        <td>01</td>
                        <td>3</td>
                        <td>Brand new never been used.</td>
                        <td>$80</td>
                        <td>$240</td>
                        <td>20878</td>
                        <td>12657</td>

                    </tr>
                </table>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">SUBTOTAL</td>
                            <td>$5,200.00</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">TAX 25%</td>
                            <td>$1,300.00</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">GRAND TOTAL</td>
                            <td>$6,500.00</td>
                        </tr>
                    </tfoot>
                </table>

                <div class="notices">
                    <div>NOTICE:</div>
                    <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                </div>
            </main>
            <footer>
                Thank you for your business.<br />Dammam, Saudi Arabia C.R.#2502102019
            </footer>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>
</div>